html{

  margin: 0%;
  padding: 0%;
box-sizing: border-box;
}
.App {
  font-family:  "Parkinsans", sans-serif;
  text-align: center;
  margin: 0%;
  padding: 0%;

}
.nav{

  display: flex;
  border-bottom: 2px #F3F3F3 solid;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 10vh;
  

}
.nav img{
  margin-left: 2rem;
}
.nav-items{

  display: flex;
  margin-left: 2rem;
  
  
}
.nav-right{
  display: flex;
  position:absolute;
  right: 2%;
  
}
.nav p{
  margin-left: 1.5rem;
  font-size: 15px;
  font-weight: 550;
  padding-top: 0.5rem;
}

@media only screen and (min-width: 430px){

  .container{
    
    display: grid;
  
    grid-template-columns: 50px 50px  auto 50px 50px ;
    grid-template-rows: [row1-start] 50px [row1-end] 700px [third-line] 50px [last-line];
  
  }
  .aboutDiv{
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    

  }
  
  .aboutDiv ul{
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    font-size: 15px;
  font-weight: 550;
  
  
  }
  .imgDiv{

    grid-column-start:3 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  
    background-image: url(https://images.pexels.com/photos/10487720/pexels-photo-10487720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    background-repeat: no-repeat;
     
    
  }
  .imgDiv p{

    position: absolute;
    top: 40%;
    right: 45%;
    font-size: 90px;
    color: #ff764d;
    font-weight: 600;
    z-index: 99;
    
  }
  .info{
grid-row-start: 4;
grid-column-start: 3;
margin-top: 1rem;




  }
  .info h3{

    width: 50%;
    margin: auto;
    text-align: left;
    font-size: 25px;
  }
  .info h4{

    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500;
  }


}
