
html , body {

  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  width: 100%;
  height: 100%;
}
.App {
  
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;

  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style: normal;
  text-align: center;
  margin: 0%;
  padding: 0%;
  letter-spacing: 2px;

}
.nav{

  display: flex;
  border-bottom: 2px #F3F3F3 solid;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 10vh;
  

}
.nav img{
  margin-left: 2rem;
}
.nav-items{

  display: flex;
  margin-left: 2rem;
  
  
}
.nav-right{
  display: flex;
  position:absolute;
  right: 2%;
  
}
.nav p{
  margin-left: 1.5rem;
  font-size: 15px;
  font-weight: 550;
  padding-top: 0.5rem;
}

@media only screen and (min-width: 430px){

  .container{
    
    display: grid;
  
    grid-template-columns: 50px 50px  auto 50px 50px ;
    grid-template-rows: [row1-start] 50px [row1-end] 700px [third-line] 50px [last-line];
  
  }
  
.logoDiv{


  background-image: url(/src/images/logo.jpg);
  width: 8rem;
  
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  background-position: center;
  background-size: cover;
  
}
  .menu{
    display: none;
  }
  .aboutDiv{
    grid-column-start: 1;
    grid-column-end: 6;
    /* background-color: white; */
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    /* background-color: transparent; */
    background-color: rgba(240, 231, 231, 0.5);
    

  }
  .aboutDiv ul{
    list-style: none;
    display: flex;
    
    width: 25%;
    justify-content: space-evenly;
    font-size: 15px;
  font-weight: 550;
  
  margin-left: 1rem;
  
  
  }
  .imgDiv{

    grid-column-start:3 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  
    background-image: url("/src/images/pexels-caleboquendo-10487720.jpg");
    background-size: cover;
    
    background-color: yellow;
     
    
  }
  .imgDiv p{

    position: absolute;
    top: 40%;
    right: 45%;
    font-size: 90px;
    color: #ff764d;
    font-weight: 600;
    z-index: 99;
    
  }
  .info{
grid-row-start: 4;
grid-column-start: 3;
margin-top: 1rem;




  }
  .info h3{

    width: 50%;
    margin: auto;
    text-align: left;
    font-size: 25px;
  }
  .info h4{

    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  

.imgStyle1{

  display: grid;
  grid-template-columns: 50px 50px  auto 500px 50px ;
  grid-template-rows: [row1-start] 50px [row1-end] 700px [third-line] 50px [last-line];
}
.bgYellow{
  grid-row-start:2 ;
grid-column-start: 4;
grid-column-end:end ;
background-color:
#fbffa7;
background-image: url();
}
.bgYellow img{

  width: 25rem;
  margin-top: 12rem;
  
}
.ToolImg{

  grid-row-start: 2;

  grid-column-start:2 ;
  grid-column-end: 5;
  


}
.ToolImg img{
display: flex;
margin-top:6rem ;
width: 40rem;

}
.container-for-text{

  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
    grid-template-rows: [row1-start] 50px [row1-end] auto [third-line] 30px [last-line] auto 50px;
}
.container-for-text h3{

  
  grid-column-start: 3;
  grid-row-start: 2;
  width: 50%;
  font-size: 25px;
  text-align: left;
  margin: auto;
}
.container-for-text h4{
  grid-column-start: 3;
  grid-row-start: 4;
  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  
}
.vid{

  grid-column-start: 3;
  grid-row-start: 2;
  margin: auto;
  margin-top: 5%;

  
}
.vid p{

  display: flex;
}
.containerVid{
  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
    grid-template-rows: [row1-start] 50px [row1-end] 500px [third-line] 50px [last-line];

}
.container-for-text2{
  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
    grid-template-rows: [row1-start] 50px [row1-end] auto [third-line] 30px [last-line] auto 50px;

}
.container-for-text2 h3{

  grid-column-start: 3;
  grid-row-start: 2;
  width: 50%;
  font-size: 25px;
  text-align: left;
  margin: auto;
  letter-spacing: 2px;
}
.container-for-text2 h4{
  grid-column-start: 3;
  grid-row-start: 4;
  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  

}
.imgStyle2{

  
  display: grid;
  grid-template-columns: 50px 800px 50px  auto 50px 50px ;
    grid-template-rows: [row1-start] 50px [row1-end] 600px [third-line] 50px [last-line];
  
}
.greenCont{

  grid-column-start: 1;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #b6ffc0;
}
.greenCont img{
display: flex;
justify-content: center;
margin: auto;
  margin-top: 4rem;
  width: 20rem;

}
.greenImg{

display: flex;
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 5;




}
.greenImg img{

width: 100%;
margin-top: 2rem;
height: 100vh;
  
}
.containerForImg{

  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
  grid-template-rows: [row1-start] 50px [row1-end] 500px [third-line] 50px [last-line];

}
.hugeOne{

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  
  
  
}
.hugeOne img{
width: 90%;
height: 90vh;
  

}
.container-for-text3{

  display: grid;   
  grid-template-columns: 50px 50px  auto 50px 50px ;
  grid-template-rows: [row1-start] 50px [row1-end] 100px auto auto[third-line] 50px [last-line];
}
.container-for-text3 h3{

  grid-column-start: 3;
  grid-row-start: 2;
  width: 50%;
  font-size: 25px;
  text-align: left;
  margin: auto;
  
}
.container-for-text3 h4{

  grid-column-start:3 ;
  grid-row-start:3 ;
  margin: auto;
  text-align: left;
  font-size: 15px;
  width: 50%;
  font-weight: 500;
}
.container-for-text3 h5{

  grid-column-start:3 ;
  grid-row-start:4 ;
  margin: auto;
  text-align: left;
  font-size: 15px;
  width: 50%;
  font-weight: 500;
  margin-top: 1rem;
}
.ImgStyle4{

  display: grid;
  grid-template-columns: 50px 50px  auto 500px 50px 50px ;
  grid-template-rows: [row1-start] 50px [row1-end] 600px [third-line] 50px [last-line];
}
.pinkBg{

  
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  background-color:#b1c5ff;
}
.emp1{
  
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  height: 100vh;
  margin-top: 2rem;

  
  
  

}
.emp1 img{
  width: 80%;
  height: 80vh;
}
.emp2{


  grid-column-start:2 ;
  grid-column-end: 4;
  grid-row-start: 2;
  height: 50vh;
  margin-top: 10rem;
  padding: 1rem;
  
}
.emp2 img{

  width: 70%;
  display: flex;
  justify-items: left;
}
.ImgStyle5{

  display: grid;
  justify-content: center;
  grid-template-columns: 50px 500px 500px 50px;
  grid-template-rows: 50px 500px 50px;

  
  
  
}
.img5{

  
  grid-column-start: 2;
  grid-row-start: 2;
  background-image: url(https://images.pexels.com/photos/8297845/pexels-photo-8297845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

}
.text5{

  background-color:#b1c5ff;
  grid-column-start: 3;
  grid-row-start: 2;
}
.text5 h2{
  text-align: left;
  width: 90%;
  padding: 1rem;
  margin: auto;
  padding-top: 20%;
  font-size: 25px;
}
.text5 h3{
  text-align: left;
  width: 90%;
  padding: 1rem;
  margin: auto;
  font-size: 25px;
  color:  #0000ff;
}
.text5 img{

  position: absolute;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  
  border-top: 2px solid 
  #b6ffc0;
  line-height: 1.5;
  
}
footer a {
  text-decoration: none;
  color:black;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: black;
  font-family: ’Merriweather’, serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
.bodyFt{

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}
.containerFt{

  flex: 1;
}
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
}
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  
  padding: 0.625rem;
  margin-top: 0.3125rem;
  
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid; 
  padding-top: 1.25rem;
  color: black;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
.ft-legal {
  padding: 0.9375rem 1.875rem;

}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;       /* same as flex-grow: 1; */
}
.link{

  text-decoration: none;
  color: black;
  padding: 1rem;
  
}
.active{

  color: #ff764d;

}
.containerJobs{

  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
  grid-template-rows: [row1-start] 50px [row1-end] 500px [third-line] 50px [last-line] 400px 300px;
}
.jobImg{

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
background-image: url(https://images.pexels.com/photos/7653571/pexels-photo-7653571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;



}
.jobImg p{

  margin: auto;
  padding-top: 15%;
  font-size: 70px;
  color: #d5b3ff;
  font-weight: 600;
  z-index: 99;
}
.jobInfo{

  grid-column-start: 3;
  grid-row-start: 4;
  padding: 1rem;
  
}
.jobInfo h3{

  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 25px;
}
.jobInfo h4{

  width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500;
}
.commerce{

  grid-column-start: 3;
  grid-row-start: 5;
}
.commerce h3{

  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 1.5rem;
}
.commerce p{

  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 1rem;
  
}
.containerAppr{

  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
  grid-template-rows: [row1-start] 50px 100px [row1-end] 450px 400px 350px 400px [third-line] 50px [last-line];
}
.apprImg1{

  grid-column-start: 3;
  grid-row-start: 3;
  
  width: 70%;
  text-align: left;
  padding: 1rem;
  
  
  
}
.apprImg1 h2{

  width: 100%;
  font-size: 50px;
  padding-bottom: 0%;
margin-top: 0%;
margin-bottom: 0%;
  


}
.apprImg1 h3{

  font-size: 22px;
}
.apprImg1 h4{

  font-size: 20px;
  width: 100%;
  font-weight: 500;
  
}
.apprImg2{

  
  grid-column-start: 3;
  grid-row-start: 4;
  width: 60%;
  padding: 1rem;
  background-image: url(https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  
}

.apprImg3{

  grid-column-start: 3;
  grid-row-start: 5;
  width: 70%;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 0%;
  
}
.apprImg4{
  grid-column-start: 3;
  grid-row-start: 6;
  width: 60%;
  padding: 1rem;
  background-image: url(https://images.pexels.com/photos/3184395/pexels-photo-3184395.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

}
.containerHome{


  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
    grid-template-rows: [row1-start] 50px [row1-end] 500px [third-line] 10px [last-line] 500px;
  
  
 
}
.containerHomeImg{

  
  grid-column-start:1 ;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;

  background-image: url("/src/images/pexels-pixabay-164716.jpg");
  
  background-repeat: no-repeat;
  background-size: 100%;

  
}
.containerHomeImg p{
  position: absolute;
  font-size: 70px;
  left: 5%;
  top: 25%;
  color: #b1c5ff;
}
.homeLink{
  position: absolute;
  font-size: 30px;
  left: 5%;
  top: 55%;
  color:
  #b1c5ff;
  

}
.HomeGetMove{

  
  grid-column-start: 3;
  grid-row-start: 4;
  text-align: left;
}
.HomeGetMove h3{
  padding: 1rem;
font-size: 25px;
font-weight: 500;
}
.MoveVidDiv{

  display: flex;
}
.MoveVidDiv div{

  padding: 1rem;
}
.containerShop{
  

}
.LiveShop{
grid-column-start: 1;
grid-column-end: 2;

  background-color: yellow;
}




}

@media only screen and (max-width:430px){

 

  .App{

    
    font-weight: 300;
    letter-spacing: 0.5px;
    
  }
  .navDiv{

    display: grid;
    grid-template-columns: 10px 50px  auto 50px 10px ;
    grid-template-rows: [row1-start] 0px [row1-end] 50px [third-line] 0px [last-line];
  }
  
.logoDiv{


  background-image: url(/src/images/logo.jpg);
  width: 4rem;
  
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  background-position: center;
  background-size: cover;
  
  
}
  

.nav-items{
  display: none;
}
.nav-right p{

  display: none;
}
.menu{
  z-index: 1000;
}


.menu img{
  position: absolute;
  top: 5%;
  padding-left: 0.75rem;
  z-index: 1000;
}

.floatMenu{

  background-color: #0000ff; 
   width: 100%;
  z-index: 999;
  height: 0;
  position: absolute; 
  color: white;
  transition: height 0.5s ease-in-out;
}
.floatMenu.open{

  height: 100vh;
}
.floatMenu.close{

  height: 0;
}
.floatMenu ul{

  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  margin-top: 2rem;
  padding: 1rem;
}
.floatMenu ul li{

  margin-bottom: 1rem;
  padding: 0.5rem;
  font-weight: 550;
}




img{

  display: none;
}


.container{
    
  display: grid;
  

  grid-template-columns: 10px 10px  auto 10px 10px ;
  grid-template-rows: [row1-start] 50px [row1-end] 200px [third-line] 110px [last-line];


}
.aboutDiv{
  grid-column-start: 1;
  grid-column-end: 6;
  z-index: 100;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(240, 231, 231, 0.5);
  position: sticky;
  


  

}
.aboutDiv ul{
  
  display: flex;
  list-style: none;
  
}
.aboutDiv ul li{
display: flex;
padding: 0.5rem;
font-weight: bold;


  
}
.link{

  text-decoration: none;
}
.imgDiv{

grid-column-start:3 ;
grid-row-start: 2;
background-image: url("/src/images/pexels-caleboquendo-10487720.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  

}
.imgDiv p{
  position: absolute;
  font-size: 50px;
  left: 20%;
  top: 20%;
  color: #ff764d;
  font-weight: 600;
  z-index: 99;

}
.info{
  grid-row-start: 3;
  grid-column-start: 3;
  font-size: 10px;
width: 100%;
text-align: left;
}
.imgStyle1{
  display: grid;
  grid-template-columns: 100px  auto 70px ;
  grid-template-rows: [row1-start] 50px [row1-end] 200px [third-line] 50px [last-line];

}
.bgYellow{

  background-color: #fbffa7;;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}
.bgYellow img{
  display: grid;
  width: 8rem;
  margin: auto;
  margin-right: 0%;
  margin-top: 4rem;
padding: 1rem;
  

}
.ToolImg{

  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}
.ToolImg img{
  display: grid;
  width: 14rem;
  margin: auto;
  margin-top: 2rem;
  margin-left: 0%;
}
.container-for-text{

  display: grid;
  grid-template-columns: 10px 10px  auto 10px 10px ;

  grid-template-rows: [row1-start] 0px [row1-end] 50px 50px [third-line] 50px [last-line];
  font-size: 10px;
  text-align: left;
}
.container-for-text h3{

  grid-column-start: 3;
  grid-row-start: 2;

}
.container-for-text h4{

  grid-column-start: 3;
  grid-row-start: 3;
}
.containerVid{

  display: grid;
  grid-template-columns: 10px 10px  auto 10px 10px ;
    grid-template-rows: [row1-start] 0px [row1-end] 450px [third-line] 50px [last-line];
}

.vid{

  grid-column-start: 3;
  grid-row-start: 2;
  margin: auto;
  margin-left: 0;

  
}
.vid p{

  font-size: small;
  margin-top: 0%;
}
iframe{

  width: 100%;
  height:50vh
  
}
.container-for-text2{

  display: grid;
  grid-template-columns: 10px 10px  auto 10px 10px ;

  grid-template-rows: [row1-start] 50px [row1-end] 70px 100px [third-line] 50px [last-line];
  font-size: 10px;
  text-align: left;
}
.container-for-text2 h3{

  grid-column-start: 3;
  grid-row-start: 2;
  

  
}
.container-for-text2 h4{

  grid-column-start:3 ;
  grid-row-start:3 ;
}
.imgStyle2{

  display: grid;
  
  grid-template-columns: 10px  auto 50px 100px ;

  grid-template-rows: [row1-start] 10px [row1-end] 200px [third-line] 10px [last-line];
  
}
.greenCont{

  
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #b6ffc0;
}
.greenCont img{

  display: grid;
  width: 8rem;
  margin: auto;
  margin-top: 1rem;
  margin-left: 2rem;
}
.greenImg{
  

  grid-column-start: 3;
  grid-column-end:5;
  grid-row-start: 1;
}
.greenImg img{
  display: grid;
  width: 8rem;
  margin: auto;
  margin-top: 1rem;
  
}
.containerForImg{
  display: grid;
  grid-template-columns: 10px 10px  auto 10px 10px ;
  grid-template-rows: [row1-start] 0px [row1-end] 200px [third-line] 50px [last-line];


}
.hugeOne{

  background-color: rebeccapurple;
  grid-column-start: 3;
  grid-row-start: 2;
  background-image: url(/src/images/huge.webp);
  background-position: center;
  background-size: cover;

}
.hugeOne img{
  display: none;
}
.container-for-text3{

  display: grid;
  grid-template-columns: 10px 10px  auto 10px 10px ;
  grid-template-rows: [row1-start] 0px [row1-end] 50px 60px 60px [third-line] 50px [last-line];
  font-size: 10px;
  text-align: left;
}
.container-for-text3 h3{

  grid-column-start: 3;
  grid-row-start: 2;
}
.container-for-text3 h4{

  grid-column-start: 3;
  grid-row-start: 3;
}
.container-for-text3 h5{

  grid-column-start: 3;
  grid-row-start: 4;
}
.ImgStyle4{

  display: grid;
  grid-template-columns:  50px  auto 100px 50px  ;
  grid-template-rows: [row1-start] 0px [row1-end] 200px [third-line] 50px [last-line];
}
.pinkBg{

  background-color: #b1c5ff;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}
.emp1{
  background-color: yellow;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  height: 25vh;
  margin-top: 20%;
  background-image: url(/src/images/office.webp);
  background-position: center;
  background-size: cover;
}
.emp2{

  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  height: 20vh;
  width: 80%;
  margin-top: 40%;
  background-image: url(/src/images/officebench.jpeg);
  background-position: center;
  background-size: cover;
}
.ImgStyle5{

  display: grid;
  grid-template-columns: 10px 20px  auto 20px 10px ;
  grid-template-rows: [row1-start] 150px [row1-end] 150px [third-line] 50px [last-line];
}
.img5{
background-color: yellow;
grid-column-start: 3;
background-image: url(/src/images/officeBg.webp);
background-position: center;
background-size: cover;

}
.text5{

  grid-column-start: 3;
  font-size: 8px;
  font-weight: 100;
  text-align: left;
  background-color: #b1c5ff;
  padding: 1rem;
}
.text5 h3{

  color: blue;
}
footer {
  
  border-top: 2px solid 
  #b6ffc0;
  line-height: 1.5;
  text-align: left;
  
}
footer a {
  text-decoration: none;
  color:black;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: black;
  font-family: ’Merriweather’, serif;
  font-size: 1rem;

  
}
.bodyFt{

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}
.containerFt{

  flex: 1;
}
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.ft-main-item {
  padding: 0.5rem;
  min-width: 12.5rem /*200px*/;
}
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  
  padding: 0.625rem;
  margin-top: 0.3125rem;
  
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid; 
  padding-top: 1.25rem;
  color: black;
  list-style: none;
}
.ft-social-list img{
  display: flex;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
.ft-legal {
  padding: 0.9375rem 1.875rem;

}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
  flex: 1;       
}
.link{

  text-decoration: none;
  color: black;
  padding: 0.5rem;
  
}
.active{

  color: #ff764d;

}
.containerJobs{

  display: grid;
  grid-template-columns: 50px 50px  auto 50px 50px ;
  grid-template-rows: [row1-start] 50px [row1-end] 500px [third-line] 50px [last-line] 400px 300px;
}
.jobImg{

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
background-image: url(https://images.pexels.com/photos/7653571/pexels-photo-7653571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;



}
.jobImg p{

  margin: auto;
  padding-top: 15%;
  font-size: 70px;
  color: #d5b3ff;
  font-weight: 600;
  z-index: 99;
}
.jobInfo{

  grid-column-start: 3;
  grid-row-start: 4;
  padding: 1rem;
  
}
.jobInfo h3{

  width: 50%;
  margin: auto;
  text-align: left;
  font-size: 25px;
}
.jobInfo h4{

  width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500;
}
.commerce{

  grid-column-start: 3;
  grid-row-start: 5;
}
.commerce h3{

  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 1.5rem;
}
.commerce p{

  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 1rem;
}



}